body {
  margin: 1em;
  font: small sans-serif;
  color: #000;
  background-color: #fff;
}

p, td, th, li {
  font: small sans-serif;
}

h1, h2, h3, h4 {
  color: #0054e3;
}

h1 {
  font-size: large;
}

a:link, a:visited {
  color: #0064fa;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

input, textarea, select, .inputbox {
  border: 1px solid #0054e3;
  color: #000;
  background-color: #ece9d8;
}

input.button {
  font-weight: bold;
  border: 1px outset #fff;
  color: #fff;
  background-color: #0054e3;
}



#header { }

#crumb { }

#footer {
  text-align: center; 
}

a img {
  border: 0;
}

div.sgLanguageFlipper, div.sgTemplateFlipper {
  float: right;
  clear: right;
}

table.sgList {
  background-color: #fff;
  border: 1px solid #ccc;
}

div.sgShadow {
  text-align: center;
  padding: 1em;
}

table.sgShadow {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

table.sgShadow, table.sgShadowTab {
  background-color: #ece9d8;
  padding: 0;
  text-align: left;
}

table.sgShadowTab {
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px #000;
  background: #0054e3 url('images/shadow-tabm.gif');
}

table.sgShadowTab a:link, table.sgShadowTab a:visited {
  color: #fff;
}

table.sgShadowTab td {
  font: bold 13px Verdana;
}

table.sgShadow td {
  padding: 0;
  margin: 0;
}

table.sgShadow td.tabm, table.sgShadow td.tabr {
  background-color: #fff;
}

table.sgShadow td.tl {
  background-image: url('images/shadow-tl.gif');
}

table.sgShadow td.tm {
  background-image: url('images/shadow-tm.gif');
}

table.sgShadow td.tr {
  background-image: url('images/shadow-tr.gif');
}

table.sgShadow td.ml {
  background-image: url('images/shadow-ml.gif');
}

table.sgShadow td.mm {
  padding: 10px;
}

table.sgShadow td.mr {
  background-image: url('images/shadow-mr.gif');
}

table.sgShadow td.bl {
  background-image: url('images/shadow-bl.gif');
}

table.sgShadow td.bm {
  background-image: url('images/shadow-bm.gif');
}

table.sgShadow td.br {
  background-image: url('images/shadow-br.gif');
}

div.sgGallery {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

div.sgGallery p {
  margin-top: 0;
  margin-bottom: 2px;
}

td.sgGallery {
  width: 100px;
  text-align: center;
}

img.sgGallery {
  border: 1px solid #000;
}

img.sgImage {
  border: 1px solid #000;
}

div.sgNavBar, p.sgNavBar {
  text-align: center;
  float: right;
}

div.centertext {
  text-align: center; 
}


div.sgThumbnail {
  width:  120px;
  height: 120px;
  margin: 10px 5px 10px 5px;
  float: left;
	padding: 0px;
  text-align: center;
}

div.sgThumbnail table {
  width:  116px;
  height: 116px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}

.sgThumbnailContent {
  background: #fff;
	margin: 0px;
	padding: 0px;
	border: 1px solid #ccc;
}

.roundedCornerSpacer {
    margin: 0px; padding: 0px; border: 0px;
    clear: both;
    font-size: 1px; line-height: 1px;
}
.borderTL, .borderTR, .borderBL, .borderBR {
    width: 5px; height: 5px;
    padding: 0px; border: 0px;
    z-index: 99;
}
.borderTL, .borderBL { float: left; clear: both; }
.borderTR, .borderBR { float: right; clear: right; }
.borderTL { margin: -1px 0px 0px -1px; }
.borderTR { margin: -1px -1px 0px 0px; }
.borderBL { margin: -5px 0px 0px 0px; }
.borderBR { margin: -5px 0px 0px 0px; }
/* IE5-5.5/win needs the border scooted to the left or right by an
additional 3px! Why? */
.borderTL {
    margin-left: -4px;
    ma\rgin-left: -1px;
}
html>body .borderTL {
    margin-left: -1px;
}
.borderTR {
    margin-right: -4px;
    ma\rgin-right: -1px;
}
html>body .borderTR {
    margin-right: -1px;
}
.borderBL {
    margin-left: -3px;
    ma\rgin-left: 0px;
}
html>body .borderBL {
    margin-left: 0px;
}
.borderBR {
    margin-right: -3px;
    ma\rgin-right: 0px;
}
html>body .borderBR {
    margin-right: 0px;
} 
