<Context antiJARLocking="true" antiResourceLocking="true">

<Realm className="org.apache.catalina.realm.DataSourceRealm"
	       debug="0"
	       dataSourceName="jdbc/MySQL"
           localDataSource="true"
	       userTable="users" 
	       userNameCol="User" 
	       userCredCol="Password" 
	       userRoleTable="roles" 
	       roleNameCol="rolename"/>
	
</Context>


