<Context antiJARLocking="true" antiResourceLocking="true">

<Resource name="jdbc/jGallery" auth="Container" type="javax.sql.DataSource"
               maxActive="10" maxIdle="3" maxWait="1000"
               driverClassName="org.apache.derby.jdbc.ClientDriver"
               url="jdbc:derby://localhost/jGallery"/>
	
</Context>


